/* global variables */
/* Style Guide*/
/* Scss Document */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

li {
  margin: 1px; }

/* Scss Document */
html {
  background-color: black; }

html {
  background-color: #E4E4E4; }
  html #searchArea {
    text-align: center;
    background-color: #C1AB4C;
    font-size: 1.5rem; }
  html #resultsArea {
    text-align: center;
    font-size: 1.5rem; }
    html #resultsArea h2 {
      font-size: 2rem;
      margin: 5px; }

nav {
  text-align: center; }
  nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    color: red;
    background-color: white; }
    nav ul li {
      float: left; }

nav ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  color: #999999;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #444444; }

nav ul li a:hover {
  background-color: #D5D5D5;
  color: #FF0000; }

.active {
  background-color: #D5D5D5;
  color: #FF0000; }

.message {
  @extends %pop-ups;
  border-color: black; }

.alert {
  @extends %pop-ups;
  border-color: yellow; }

.warning {
  @extends %pop-ups;
  border-color: red; }
  .warning h2 {
    font-size: 1.5rem;
    text-transform: uppercase; }

img {
  border-style: double;
  @includes button; }

/*# sourceMappingURL=main.css.map */
