@charset "UTF-8";
/* global variables */
$font-stack:	Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
$primary-color: black;

/* Style Guide*/
@import '_reset';
@import '_partial1';

%pop-ups {
	border: .4rem, solid, black;
	padding: .7rem;
}

html {
	background-color: #E4E4E4;
	
	#searchArea {
		text-align: center;
		background-color: #C1AB4C;
		font-size: 1.5rem;
	}
	#resultsArea {
		text-align: center;
		font-size: 1.5rem;
		h2 {
			font-size: 2rem;
			margin: 5px;
		}
	}
}

nav {
	text-align: center;
	ul {
		list-style-type: none;
   		margin: 0 auto;
    	padding: 0;
    	display: inline-block;
    	overflow: hidden;
		color: red;
		background-color: white;
		li {
			float: left;
		}
	}
}

nav ul li a {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2rem;
	color: #999999;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #444444;
}

nav ul li a:hover {
		background-color: #D5D5D5;
		color: #FF0000;
	}
.active {
	background-color: #D5D5D5;
	color: #FF0000;
}

.message {
	@extends %pop-ups;
	border-color: black;
}

.alert {
	@extends %pop-ups;
	border-color: yellow;
}

.warning {
	@extends %pop-ups;
	border-color: red;
	h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}

@mixin button {
	margin: 10px;
	padding: 3px;
	height: auto;
	width: auto;
}

img {
	border-style: double;
	@includes button
}